pipeline/basicmetafile.json
{
	"name": "basicmetafile",
	"properties": {
		"activities": [
			{
				"name": "Get Metadata1",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "musiccsv",
						"type": "DatasetReference"
					},
					"fieldList": [
						"columnCount",
						"itemName",
						"itemType",
						"structure",
						"size",
						"lastModified"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "Stored procedure1",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Get Metadata1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[dbo_usp_InsertFileInformation]",
					"storedProcedureParameters": {
						"Filename": {
							"value": {
								"value": "@activity('Get Metadata1').output.itemName",
								"type": "Expression"
							},
							"type": "String"
						},
						"ModifiedDate": {
							"value": {
								"value": "@activity('Get Metadata1').output.lastModified",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"RecordInsertDate": {
							"value": {
								"value": "@formatDateTime(utcnow())",
								"type": "Expression"
							},
							"type": "DateTime"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "Mylocalserver",
					"type": "LinkedServiceReference"
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2022-01-01T19:40:38Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}